@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

body {
    background-color: #313131;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #ff7a7a;
}

li {
    display: inline-block;
    padding-right: 7%;
    margin: 10px 0 0 0;
    font-size: 36px;
}

.topnav {
    list-style: none;
    font-family: 'Roboto Thin';
    color: aliceblue;
    margin: 50px 0 0 0;
    text-align: right;
}

.info {
    margin-top: 175px;
}
.logo {
    position: relative;
    width: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
 
}

.description {
    font-family: 'Roboto Thin';
    text-align: center;
    margin-top: 30px;
}
